@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.button {
  border-radius: 20px;
  border: 2px solid $tertiaryColor;
  color: $tertiaryColor;
  background: none;
  padding: 10px;
  margin: 0px;
  width: 200px;

  @media (max-width: 800px) {
    width: 200px;
  }

  &:hover {
    cursor: pointer;
  }
}