@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.welcome {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;

  @media (max-width: 800px) {
    padding: 20px;
    flex-direction: column;
  }

  &-rhs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &-rsvp {
    &-warning {
      padding-top: 10px;
      font-size: 12px;
    }
  }

  &-countdown {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
    background-color: $secondaryColor;

    @media (max-width: 800px) {
      padding-top: 20px;
      margin-top: 0px;
    }
  }

  &-date {
    text-transform: uppercase;
    font-size: $headingFontSize;
    padding-bottom: 20px;
  
    @media (max-width: 800px) {
      font-size: $headingFontSize;
    }
  }
}

.welcome-signature {
  font-size: $headingFontSize;
  text-transform: uppercase;
  font-family: $headingFont;
  padding-bottom: 40px;
  color: $primaryColor;
  
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
}

.welcome-content {
  padding-top: 20px;
  max-width: 400px;
  line-height: 24px;
  padding-bottom: 20px;

  @media (max-width: 800px) {
    width: auto;
    padding: 10px;
    line-height: 24px;
  }
}