@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 800px) {
    padding: 20px;
  }

  &-rsvp {
    &-warning {
      padding-top: 10px;
      font-size: 12px;
    }
  }

  &-image {
    margin-top: 50px;
    width: 100px;
    margin-bottom: 20px;
  
    @media (max-width: 800px) {
      margin-bottom: 20px;
    }
  }

  &-countdown {
    color: $tertiaryColor;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;

    @media (max-width: 800px) {
      padding-top: 20px;
      margin-top: 0px;
    }
  }

  &-date {
    text-transform: uppercase;
    font-size: $headingFontSize;
    padding-bottom: 20px;
  
    @media (max-width: 800px) {
      font-size: $headingFontSize;
    }
  }
}

.welcome-signature {
  color: $primaryColor;
  font-family: $headingFont;
  font-size: $headingFontSize;
  padding-bottom: 40px;
  text-transform: uppercase;
  
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
}

.welcome-content {
  line-height: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 600px;

  @media (max-width: 800px) {
    width: 100%;
  }
}