@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.accommodation {
  padding: 20px;
  padding-top: 40px;

  &-option {
    padding: 10px;

    &-price {
      font-size: 28px;
      padding: 10px 0px;
      font-family: $headingFont;
    }

    a {
      color: $fontColor;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}