.radio-group {
  &-label {
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.radio-item {
  padding-bottom: 10px;
  cursor: pointer;
  
  input {
    margin-right: 10px;
  }

  label {
    cursor: pointer;
  }
}