@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.the-day {
  padding: 0px 20px;
  font-family: $bodyFont;

  h1 {
    font-family: $headingFont;
    font-size: $headingFontSize;
  }

  &-title {
    padding-top: 10px;
    color: $primaryColor;
  }

  &-date {
    padding-bottom: 20px;
    padding-top: 40px;
    font-weight: bold;
    font-size: $headingFontSize;
  }

  &-key-info {
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 20px;
  }
}