@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.quiz {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-title {
    font-family: $headingFont;
    font-size: $headingFontSize;
  }

  &-form {
    padding: 20px;
    text-align: left;

    &-field {
      padding-top: 20px;
      max-width: 600px;

      &-label {
        font-weight: bold;
      }

      &-options {
        padding-top: 20px;
        text-align: left;
      }
    }
  }
}