@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.quiz {
  padding: 20px;

  &-title {
    font-family: $headingFont;
    font-size: $headingFontSize;
  }

  &-form {
    padding: 20px;

    &-field {
      padding-top: 20px;

      input {
        width: 90%;
        padding: 10px;
        margin-top: 10px;
        font-size: 24px;
      }
    }
  }
}