@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.header {
  align-items: center;
  border-bottom: 1px solid $borderColor;
  color: $fontColor;
  display: flex;
  flex-direction: column;
  font-family: $bodyFont;
  justify-content: center;
  padding-top: 50px;
  
  @media (max-width: 800px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header-image {
  width: 800px;
  max-width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  &-title {
    text-transform: uppercase;
    font-size: 40px;
    font-family: $headingFont;
    margin-top: -70px;
    z-index: 1;
    color: white;
    text-align: right;
  }
}

.header {
  &-menu {
    padding-top: 10px;

    @media (max-width: 800px) {
      padding-top: 0px;
      width: 100%;
    }
  }

  &-mobile {
    display: none;
    background-color: white;
    padding-top: 10px;

    @media (max-width: 800px) {
      display: flex;
      width: 100%;
    }

    &-title {
      flex-grow: 1;
      padding-left: 30px;
      padding-top: 10px;
    }

    &-icon {
      width: 20px;
      padding-right: 10px;
      display: flex;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        opacity: 0.8;
      }
    }

    button {
      @media (max-width: 800px) {
        align-items: center;
        font-family: $headingFont;
        color: $fontColor;
        background: none;
        border: none;
        display: flex;
        flex-direction: row;
        font-size: 24px;
        line-height: 28px;
        justify-content: space-between;
        margin: 0px;
        padding-top: 5px;
        padding: 10px;
        width: 100%;
        font-size: $buttonFontSize;
      }
    }
  }
  
  li {
    list-style-type: none;
    padding: 0px 5px;
    
    @media (max-width: 800px) {
      width: 100%;
      border-top: 1px solid $borderColor;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    @media (max-width: 800px) {
      margin: 0px;
      padding-top: 0px;
      flex-direction: column;
    }

    &.hide {
      @media (max-width: 800px) {
        display: none;
      }
    }
  }

  &-menu-item {
    color: $fontColor;
    text-decoration: none;
    border: none;
    background: none;
    margin: 0px;
    padding: 10px;
    font-size: $buttonFontSize;
    font-family: $headingFont;
    line-height: 26px;

    @media (max-width: 800px) {
      width: 100%;
    }

    &-active {
      text-decoration: underline;
      font-weight: bold;
      color: $primaryColor;
    }

    &:hover {
      color: $primaryColor;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
