@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.footer {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  color: $fontColorMuted;
  font-size: 24px;
  padding-top: 50px;
}

.footer-body {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  align-items: center;
}

.footer-initials {
  color: $fontColorMuted;
  padding: 10px;
  font-family: $headingFont;
}

.footer-date {
  color: $fontColorMuted;
  font-family: $headingFont;
  padding: 10px;
  font-weight: 100;
}