@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.rsvp {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 800px) {
    padding: 20px;
  }

  h1 {
    font-size: $headingFontSize;
    font-family: $headingFont;
  }

  &-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    text-align: left;
    width: 500px;

    @media (max-width: 800px) {
      padding-top: 0px;
    }

    h1 {
      border-bottom: 1px solid $borderColor;
    }

    @media (max-width: 800px) {
      width: 100%;
    }

    &-info {
      padding-bottom: 10px;
    }

    &-field {
      text-align: left;
      padding-bottom: 20px;

      &-text-box {
        width: 500px;

        @media (max-width: 800px) {
          width: 90%;
        }

        input {
          width: 100%;
          padding: 10px;
          font-size: 24px;
        }
  
        label {
          display: flex;
          font-weight: bold;
          padding-bottom: 5px;
        }
      }
    }

    &-submit {
      border-radius: 20px;
      border: 2px solid $secondaryColor;
      color: $secondaryColor;
      background: none;
      padding: 10px;
      margin: 0px;
      width: 100%;

      @media (max-width: 800px) {
        width: 200px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  } 
}